{% extends 'base.html.twig' %}

{% block title %}Hello CurrencyController!{% endblock %}

{% block body %}

<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Alphabetic code</th>
            <th>Entity</th>
            <th>Numeric code</th>
            <th>Decimal digits</th>
            <th>Actions</th>
        </tr>
            <tr>
                <td>{{ currency.id }}</td>
                <td>{{ currency.alpabethicCode }}</td>
                <td>{{ currency.entity }}</td>
                <td>
                    {{ currency.numericCode }}
                </td>
                <td>
                    {{ currency.decimalDigits }}
                </td>
                <td>
                    <a href="{{ path('app_currency_edit', {'id': currency.id}) }}">edit</a>
                    <a href="{{ path('app_currency_delete', {'id': currency.id}) }}">delete</a>
                </td>
            </tr>
    </table>
    <a href="{{ path('app_currency') }}">Show all</a>
</div>

{% endblock %}
