{% extends 'kassabok/base.html.twig' %}
{% import 'kassabok/_breadcrumbs.html.twig' as breadcrumb_helper %}

{% block title %}Välj, skapa eller anslut till en organisation{% endblock %}

{% block breadcrumb %}
{{ breadcrumb_helper.trail([
{ label: 'Kontrollpanel', path: path('kassabok_organization') },
]) }}
{% endblock %}
{% block body %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

<div class="container mt-5">
    <h2 class="mt-5">Välj befintlig organisation</h2>
    <div class="list-group">
        {% for organization in organizations %}
        <a href="{{ path('kassabok_journals', {'organization': organization.id}) }}"
            class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ organization.name }}</h5>
            </div>
            <p class="mb-1">Skapad av
                {{ organization.users[0].email }}</p>
        </a>
        {% endfor %}
    </div>
    <h2 class="mt-5">Skapa ny organisation</h2>
    <div>
        {{ form(form) }}
    </div>
    <h2 class="mt-5">Anslut till befintlig organisation</h2>
    <div>
        <p>Funktionen kommer snart!</p>
    </div>
    {% endblock %}