{# templates/index.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Play some, lose some.{% endblock %}
{% block body %}
<main class="mt-2">
  <section>
    <section class="m-0 p-0">
      {% if game.getGameStatus() == 'ended' %}
        <h1 class="leading-none m-0 p-0">Game over!</h1>
        <p>
          Winner is: {{ game.getWinnerBasedOnHand() }}.
        </p>
        {% if game.getPlayers()['human'].getBalance() == 0 %}
        <p>
          You lost all your money. Better luck next time!
        </p>
        {% endif %}
        {% if game.getPlayers()['bank'].getBalance() == 0 %}
        <p>
          The bank lost all its money. You won! The world might be a better place now.
        </p>
        {% endif %}
        <h2 class="leading-none m-0 p-0">Players:</h2>
        {% for player in game.getPlayers() %}
        <h3>{{ player.getName() }}</h3>
        <ul>
          <li>Score: {{ max(player.getScores() ?: [0]) }} / {{ min(player.getScores() ?: [0]) }} (max / min)</li>
          {% if player.getHand()|length > 0 %}
          <li>
            {{ include('game/_game_hand.html.twig', {hand: player.getHand()}) }}
          </li>
          {% endif %}
          <li>Balance: {{ player.getBalance() }}</li>
        </ul>
          {% endfor %}
        <form action="{{ path('app_post_game') }}" method="POST">
          <button type="submit" name="action" value="restart"
            class="shadow bg-green-800 hover:bg-purple-400 text-white font-bold py-2 px-4 rounded">Play again</button>
        </form>
      {% else %}
      {% if not game.betManager.hasPot() %}
      <form action="{{ path('app_post_game') }}" method="POST">
        <label for="bet">Place your bet:</label>
        <input type="number" name="bet" id="bet" min="1" required value="100">
        <button type="submit" name="action" value="bet" autofocus
          class="shadow bg-green-800 hover:bg-purple-400 text-white font-bold py-2 px-4 rounded">Bet</button>
      </form>
      {% else %}
      <h2 class="leading-none m-0 p-0">Players:</h2>
      {% for player in game.getPlayers() %}
      <h3>{{ player.getName() }}</h3>
      <ul>
        <li>Score: {{ max(player.getScores() ?: [0]) }} / {{ min(player.getScores() ?: [0]) }} (max / min)</li>
        {% if player.getHand()|length > 0 %}
        <li>
          {{ include('game/_game_hand.html.twig', {hand: player.getHand()}) }}
        </li>
        {% endif %}
        <li>Balance: {{ player.getBalance() }}</li>
      </ul>
        {% endfor %}
      {% if game.currentPlayer == 'bank'%}
      <form action="{{ path('app_post_game') }}" method="POST" class="p-2">
        <button type="submit" name="action" value="hit"  autofocus
        class="shadow bg-green-800 hover:bg-purple-400 text-white font-bold py-2 px-4 rounded">Next</button>
      </form>
      {% else %} 
      <form action="{{ path('app_post_game') }}" method="POST" class="p-2">
        <button type="submit" name="action" value="hit" autofocus
          class="shadow bg-green-800 hover:bg-purple-400 text-white font-bold py-2 px-4 rounded">Hit</button>
        <button type="submit" name="action" value="stand"
          class="shadow bg-green-800 hover:bg-purple-400 text-white font-bold py-2 px-4 rounded">Stand</button>
      </form>

      {% endif %}
      <h2 class="leading-none m-0 p-0">Current pot: {{ game.betManager.getPot() }}</h2>
      {% endif %}
      {% endif %}
    </section>
  </section>
</main>
{% endblock %}