<nav class="py-3">
    <ul class="flex gap-6 flex-wrap underline underline-offset-8 text-green-800 font-bold tracking-wide">
        <li><a class="" href="{{ path('app_home') }}">Start</a></li>
        <li class=""><a class="" href="{{ path('app_about') }}">About</a></li>
        <li class=""><a class="" href="{{ path('app_report') }}">Report</a></li>
        <li class=""><a class="" href="{{ path('app_lucky')}}">Lucky</a></li>
        <li class=""><a class="" href="{{ path('app_api')}}">API</a></li>
    </ul>
</nav>