<nav class="py-2">
    <ul class="flex flex-wrap underline underline-offset-8 text-green-800 font-bold prose-sm gap-2 md:gap-6 md:prose:base">
        <li><a class="" href="{{ path('app_home') }}">Start</a></li>
        <li class=""><a class="" href="{{ path('app_about') }}">About</a></li>
        <li class=""><a class="" href="{{ path('app_report') }}">Report</a></li>
        <li class=""><a class="" href="{{ path('app_lucky')}}">Lucky</a></li>
        <li class=""><a class="" href="{{ path('app_api')}}">API</a></li>
        <li class=""><a class="" href="{{ path('app_card')}}">Card</a></li>
        <li class=""><a class="" href="{{ path('app_game')}}">Game</a></li>
        <li class=""><a class="" href="{{ path('app_currency')}}">Currency (library)</a></li>
        <li class=""><a class="" href="{{ path('app_metrics')}}">Metrics</a></li>
    </ul>
</nav>